span {
  color: aliceblue;
}

.dropdown-toggle {
 color: beige !important;
}

.icone-usuario {
  margin-right: 120px;
  color: white;
  text-decoration: none;
}

.nome {
  margin-left: 10px;
  text-decoration: none;
}
