<app-titulo [titulo]="'Pedidos'" [subtitulo]="'Lista de Pedidos'" [iconClass]="'bi bi-list-task'"></app-titulo>

<div class="card rounded shadow-sm p-3 mb-4">

  <div class="d-flex">
      <div class="flex-fill pr-3">
          <div class="input-group mb-2">
              <div class="input-group-prepend">
                  <div class="input-group-text">Filtro: </div>
              </div>
              <!-- <input type="text" class="form-control" placeholder="Filtrar por nome" [(ngModel)]="filtroLista"> -->
              <input type="text" class="form-control" placeholder="Filtrar por nome">
              <input type="date" class="form-control" placeholder="Filtrar por nome">
              <input type="date" class="form-control" placeholder="Filtrar por nome">
          </div>
      </div>
      <div class="custom-search">
          <a class="d-flex btn btn-outline-primary">
              <i class="bi bi-plus-circle-fill custom-icon-circle-fill"></i>
              <b class="ml-1 d-none d-sm-block" routerLink="cadastrar-pedido/">Novo</b>
          </a>
      </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
          <tr>
              <!-- <th class="d-none d-md-table-cell">Id</th>
              <th class="d-none d-md-table-cell">SO</th> -->
              <th>Data Venda</th>
              <th>Vendedor</th>
              <th>Cliente</th>
              <th>Observação</th>
              <th>Valor</th>
              <th>Data Entrega</th>
              <th>Hora Entrega</th>
              <th ><span style="margin-left: 30px;">Opções</span></th>
          </tr>
      </thead>

      <tbody>

          <ng-container *ngIf="pedido$ | async as pedido">

              <tr *ngFor="let item of pedido">
                  <td>{{item.dataVenda | date: 'dd/MM/yyyy'}}</td>
                  <!-- <td class="d-none d-md-table-cell"><img src="https://localhost:7284/resources/images/{{item.imagemURL}}" width="120px" height="60px" alt=""></td> -->
                  <td>{{item.vendedor}}</td>
                  <td>{{item.cliente}}</td>
                  <td>{{item.observacao}}</td>
                  <td>{{item.valor | currency}}</td>
                  <td>{{item.dataEntrega | date: 'dd/MM/yyyy'}}</td>
                  <td>{{item.hora }}</td>
                  <td class="d-flex">
                      <button type="button" (click)="openModal(template, item.id)" class="btn btn-danger mb-3">
                      <i class="bi bi-trash"></i>
                    </button>
                      <button type="button" (click)="enviarDadosAlterarPedido(item.id)" class="btn btn-warning ms-2 mb-3">
                      <i class="bi bi-pen"></i>
                    </button>
                    <button type="button" class="btn btn-info ms-2 mb-3">
                      <i class="bi bi-printer"></i>
                    </button>
                  </td>
              </tr>

          </ng-container>

      </tbody>

      <tfoot *ngIf="!pedido$">
          <tr>
              <td colspan="8" class="text-center">
                  <h4>Nenhum pedido encontrado!</h4>
              </td>
          </tr>
      </tfoot>

  </table>
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
        <p>Confirma ?</p>
        <div class="custom-modal">
          <button type="button" class="btn btn-warning" (click)="confirme()">Sim</button>
          <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
        </div>
    </div>
</ng-template>

</div>
